In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from glob import iglob

In [23]:
df = pd.read_csv(r'/Users/gianmarcoricci/Google Drive/UNI/Thesis CERN/Data/Auto_data/1-test_2018/1522699012_TCP.C6R7.B2_Align',sep="=",header = None, nrows=9)

In [24]:
df

                      0             1
0          beam_energy   1.000000e+00
1  threshold_timestamp   1.522689e+09
2            threshold   2.000000e-06
3       left_step_size   5.000000e-03
4      right_step_size   5.000000e-03
5                   LU   2.590000e+00
6                   LD   2.590000e+00
7                   RU  -2.370000e+00
8                   RD  -2.370000e+00

In [27]:
df2 = pd.read_csv(r'/Users/gianmarcoricci/Google Drive/UNI/Thesis CERN/Data/Auto_data/1-test_2018/1522699012_TCP.C6R7.B2_Align', skiprows=10)
df2

     BLMTI.06R7.B2I10_TCP.C6R7.B2
0                    5.930000e-07
1                    7.240000e-07
2                    7.240000e-07
3                    5.430000e-07
4                    7.240000e-07
..                            ...
183                  7.240000e-07
184                  1.267000e-06
185                  1.086000e-06
186                  2.310000e-07
187                  5.930000e-07

[188 rows x 1 columns]

In [31]:
df = pd.concat([df, df2])
df

                        0             1  BLMTI.06R7.B2I10_TCP.C6R7.B2
0            beam_energy   1.000000e+00                  5.930000e-07
1    threshold_timestamp   1.522689e+09                  7.240000e-07
2              threshold   2.000000e-06                  7.240000e-07
3         left_step_size   5.000000e-03                  5.430000e-07
4        right_step_size   5.000000e-03                  7.240000e-07
..                    ...           ...                           ...
183                   NaN           NaN                  7.240000e-07
184                   NaN           NaN                  1.267000e-06
185                   NaN           NaN                  1.086000e-06
186                   NaN           NaN                  2.310000e-07
187                   NaN           NaN                  5.930000e-07

[197 rows x 3 columns]

In [68]:
filenames = iglob('/Users/gianmarcoricci/Google Drive/UNI/Thesis CERN/Data/Auto_data/1-test_2018/*_Align')

In [71]:
for i in filenames:
    df = pd.read_csv(i,sep="=",header = None, nrows=9)
    df2 = pd.read_csv(i, skiprows=10)
    df3 = pd.concat([df, df2])