In [2]:
import seaborn as sns
from glob import iglob
import pandas as pd
import numpy as np

In [3]:
# Load of all TCP features
path = r'/Users/gianmarcoricci/Google Drive/UNI/Thesis CERN/Data/Auto_data/2018_MD3/*_TCP.*_Align_features'
all_rec = iglob(path, recursive=True)     
dataframes = (pd.read_csv(f) for f in all_rec)
TCP_features = pd.concat(dataframes, ignore_index=True)
TCP_features

     jaw      height  position     decay_a   decay_b    decay_c  spike
0      0   36.267463  3.062467   31.325585  0.415383   3.559778      1
1      1  843.716049  2.423306  845.934050  0.276215  50.765412      1
2      0    7.021424  5.397253    6.856902  0.184473   0.746173      1
3      0   26.989111  4.461624   21.409703  0.225575   2.719653      1
4      1   26.989111  4.700213   21.409703  0.225575   2.719653      1
..   ...         ...       ...         ...       ...        ...    ...
427    0    5.379875  4.788739    4.230851  0.189548   0.573143      1
428    1    3.443800  4.425034    2.824040  0.099045   0.890435      1
429    0    6.520961  4.405111    4.674750  0.158468   0.867243      1
430    0    1.197079  4.657267    1.064754  0.310197   0.964153      0
431    1    1.197079  4.017847    1.064754  0.310197   0.964153      0

[432 rows x 7 columns]

In [4]:
# Add a column to the dataframe that represents the collimator type (TCP, TCSG, TCLA, TCT, TCDQ)
TCP_features["collimator_type"] = "TCP"
# Add a column to the dataframe that represents the beam type type (ION or PROTON)
TCP_features["beam_type"] = "PROTON"
# Add a column to the dataframe that represents the beam state (Injection (I) or Flat top (FT))
TCP_features["beam_state"] = ""

In [5]:
# Load of all TCSG features
path = r'/Users/gianmarcoricci/Google Drive/UNI/Thesis CERN/Data/Auto_data/2018_MD3/*_TCSG.*_Align_features'
all_rec = iglob(path, recursive=True)     
dataframes = (pd.read_csv(f) for f in all_rec)
TCSG_features = pd.concat(dataframes, ignore_index=True)
TCSG_features
# Add a column to the dataframe that represents the collimator type (TCP, TCSG, TCLA, TCT, TCDQ)
TCSG_features["collimator_type"] = "TCSG"
# Add a column to the dataframe that represents the beam type type (ION or PROTON)
TCSG_features["beam_type"] = "PROTON"
# Add a column to the dataframe that represents the beam state (Injection (I) or Flat top (FT))
TCSG_features["beam_state"] = ""
TCSG_features

,jaw,height,position,decay_a,decay_b,decay_c,spike,collimator_type,beam_type,beam_state
0,0,11.550427,5.291623,10.480291,0.089554,1.375325,1,TCSG,PROTON,
1,1,445.978000,2.637999,384.325634,0.262895,27.064130,1,TCSG,PROTON,
2,1,138.954562,2.636438,137.081896,0.371480,10.770863,1,TCSG,PROTON,
3,0,2.306381,5.026163,2.541694,0.220620,0.562528,0,TCSG,PROTON,
4,1,2.306381,6.176517,2.541694,0.220620,0.562528,0,TCSG,PROTON,
...,...,...,...,...,...,...,...,...,...,...
207,0,59.745971,3.329060,58.650020,0.292772,7.233599,1,TCSG,PROTON,
208,1,59.745971,2.822698,58.650020,0.292772,7.233599,1,TCSG,PROTON,
209,1,162.751564,2.664399,178.511238,0.186027,10.096536,1,TCSG,PROTON,
210,0,13.066024,5.988005,11.405886,0.162934,1.271149,1,TCSG,PROTON,
211,1,34.001712,3.332198,28.578391,0.178987,3.970047,1,TCSG,PROTON,

In [6]:
# Load of all TCLA features
path = r'/Users/gianmarcoricci/Google Drive/UNI/Thesis CERN/Data/Auto_data/2018_MD3/*_TCLA.*_Align_features'
all_rec = iglob(path, recursive=True)     
dataframes = (pd.read_csv(f) for f in all_rec)
TCLA_features = pd.concat(dataframes, ignore_index=True)
TCLA_features
# Add a column to the dataframe that represents the collimator type (TCP, TCSG, TCLA, TCT, TCDQ)
TCLA_features["collimator_type"] = "TCLA"
# Add a column to the dataframe that represents the beam type type (ION or PROTON)
TCLA_features["beam_type"] = "PROTON"
# Add a column to the dataframe that represents the beam state (Injection (I) or Flat top (FT))
TCLA_features["beam_state"] = ""
TCLA_features

,jaw,height,position,decay_a,decay_b,decay_c,spike,collimator_type,beam_type,beam_state
0,0,15.440837,6.296503,12.473243,0.283749,2.731252,1,TCLA,PROTON,
1,1,15.440837,1.102777,12.473243,0.283749,2.731252,1,TCLA,PROTON,
2,1,5.613321,5.366526,5.349073,0.624509,1.726106,1,TCLA,PROTON,
3,1,121.399286,1.017401,109.246658,0.541180,11.004099,1,TCLA,PROTON,
4,0,80.402640,4.642806,78.606027,0.517440,3.981822,1,TCLA,PROTON,
...,...,...,...,...,...,...,...,...,...,...
136,0,6.138551,4.087897,5.985865,0.343397,1.027228,1,TCLA,PROTON,
137,1,305.321744,3.161244,277.797619,0.273136,28.319720,1,TCLA,PROTON,
138,1,12.936595,4.428737,12.098876,0.200775,1.911675,1,TCLA,PROTON,
139,1,19.525695,4.346442,18.145804,0.275359,1.796047,1,TCLA,PROTON,
140,0,6.618897,4.011843,5.514906,0.268665,1.231092,1,TCLA,PROTON,

In [10]:
# Load of all TCT features
#""""
path = r'/Users/gianmarcoricci/Google Drive/UNI/Thesis CERN/Data/Auto_data/2018_MD3/*_TCT*_Align_features'
all_rec = iglob(path, recursive=True)     
dataframes = (pd.read_csv(f) for f in all_rec)
TCT_features = pd.concat(dataframes, ignore_index=True)
TCT_features
# Add a column to the dataframe that represents the collimator type (TCP, TCSG, TCLA, TCT, TCDQ)
TCT_features["collimator_type"] = "TCT"
# Add a column to the dataframe that represents the beam type type (ION or PROTON)
TCT_features["beam_type"] = "PROTON"
# Add a column to the dataframe that represents the beam state (Injection (I) or Flat top (FT))
TCT_features["beam_state"] = " "
TCT_features
#"""
"""
# No TCDQ features
path = r'/Users/gianmarcoricci/Google Drive/UNI/Thesis CERN/Data/Auto_data/2018_MD3/*_TCDQ*_Align_features'
all_rec = iglob(path, recursive=True)     
dataframes = (pd.read_csv(f) for f in all_rec)
TCDQ_features = pd.concat(dataframes, ignore_index=True)
TCDQ_features
# Add a column to the dataframe that represents the collimator type (TCP, TCSG, TCLA, TCT, TCDQ)
TCDQ_features["collimator_type"] = "TCDQ"
# Add a column to the dataframe that represents the beam type type (ION or PROTON)
TCDQ_features["beam_type"] = "PROTON"
# Add a column to the dataframe that represents the beam state (Injection (I) or Flat top (FT))
TCDQ_features["beam_state"] = " "
TCDQ_features
"""

'\n# No TCDQ features\npath = r\'/Users/gianmarcoricci/Google Drive/UNI/Thesis CERN/Data/Auto_data/2018_MD3/*_TCDQ*_Align_features\'\nall_rec = iglob(path, recursive=True)     \ndataframes = (pd.read_csv(f) for f in all_rec)\nTCDQ_features = pd.concat(dataframes, ignore_index=True)\nTCDQ_features\n# Add a column to the dataframe that represents the collimator type (TCP, TCSG, TCLA, TCT, TCDQ)\nTCDQ_features["collimator_type"] = "TCDQ"\n# Add a column to the dataframe that represents the beam type type (ION or PROTON)\nTCDQ_features["beam_type"] = "PROTON"\n# Add a column to the dataframe that represents the beam state (Injection (I) or Flat top (FT))\nTCDQ_features["beam_state"] = " "\nTCDQ_features\n'

In [11]:
# Merge all dataframe in one
frames = [TCP_features, TCSG_features, TCLA_features, TCT_features]
MD3_2018_dataframe = pd.concat(frames)
MD3_2018_dataframe.to_csv("2018_MD3_dataframe.csv")