In [29]:
import seaborn as sns
from glob import iglob
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [30]:
# Load of all TCP features
path = r'/Users/gianmarcoricci/Google Drive/UNI/Thesis CERN/Data/Auto_data/2018_IONS_Collisions/*_TCP.*_Align_features'

In [31]:
all_rec = iglob(path, recursive=True)     
dataframes = (pd.read_csv(f) for f in all_rec)
TCP_features = pd.concat(dataframes, ignore_index=True)

In [32]:
TCP_features

     jaw      height  position    decay_a    decay_b    decay_c  spike
0      0    4.962923  4.174044   5.194021   0.145898   1.682099      1
1      0  151.800678  5.638698  99.426278   0.170893  32.765390      1
2      0   46.816208  4.487884  41.370472   1.884378   6.719954      1
3      0  121.434939  6.291409  89.242713   0.410645  11.210625      1
4      1  121.434939  2.538321  89.242713   0.410645  11.210625      1
..   ...         ...       ...        ...        ...        ...    ...
226    1   34.071010  3.970658  27.700145  19.929300  12.481855      1
227    0    2.589960  6.164493   2.478193   0.869421   1.008623      0
228    1    2.589960  2.429535   2.478193   0.869421   1.008623      0
229    0   11.107528  4.273153   9.120141  34.799791   3.549859      1
230    1   51.850598  4.862061  31.590911   0.093737  14.968296      1

[231 rows x 7 columns]

In [33]:
# Add a column to the dataframe that represents the collimator type (TCP, TCSG, TCLA, TCT, TCDQ)
TCP_features["collimator_type"] = "TCP"
# Add a column to the dataframe that represents the beam type type (ION or PROTON)
TCP_features["beam_type"] = "ION"
# Add a column to the dataframe that represents the beam state (Injection (I) or Flat top (FT))
TCP_features["beam_state"] = " "

In [34]:
TCP_features

,jaw,height,position,decay_a,decay_b,decay_c,spike,collimator_type,beam_type,beam_state
0,0,4.962923,4.174044,5.194021,0.145898,1.682099,1,TCP,ION,
1,0,151.800678,5.638698,99.426278,0.170893,32.765390,1,TCP,ION,
2,0,46.816208,4.487884,41.370472,1.884378,6.719954,1,TCP,ION,
3,0,121.434939,6.291409,89.242713,0.410645,11.210625,1,TCP,ION,
4,1,121.434939,2.538321,89.242713,0.410645,11.210625,1,TCP,ION,
...,...,...,...,...,...,...,...,...,...,...
226,1,34.071010,3.970658,27.700145,19.929300,12.481855,1,TCP,ION,
227,0,2.589960,6.164493,2.478193,0.869421,1.008623,0,TCP,ION,
228,1,2.589960,2.429535,2.478193,0.869421,1.008623,0,TCP,ION,
229,0,11.107528,4.273153,9.120141,34.799791,3.549859,1,TCP,ION,
230,1,51.850598,4.862061,31.590911,0.093737,14.968296,1,TCP,ION,

In [36]:
# Load of all TCSG features
path = r'/Users/gianmarcoricci/Google Drive/UNI/Thesis CERN/Data/Auto_data/2018_IONS_Collisions/*_TCSG.*_Align_features'
all_rec = iglob(path, recursive=True)     
dataframes = (pd.read_csv(f) for f in all_rec)
TCSG_features = pd.concat(dataframes, ignore_index=True)
TCSG_features

     jaw      height  position     decay_a     decay_b     decay_c  spike
0      1  308.070829  5.571840  291.596716  157.652273   40.538284      1
1      1  195.127731  3.779332  124.854113    0.092919    6.356172      1
2      1  138.097728  4.528229  123.350087    0.792521    8.622371      1
3      0   16.995096  6.099973   17.467851   86.496977    1.718149      1
4      1   46.782101  4.503501   44.206042    0.130885    7.902789      1
..   ...         ...       ...         ...         ...         ...    ...
232    0  819.498420  3.178781  659.363027    0.214712   15.714854      1
233    1  819.498420  2.847658  659.363027    0.214712   15.714854      1
234    0   59.042200  5.620832   62.331431   32.753239   11.154569      1
235    0   41.192392  4.115469   41.044010   44.055029    7.282990      1
236    0  199.846014  6.400425  199.519990  129.987849  106.732010      1

[237 rows x 7 columns]

In [37]:
# Add a column to the dataframe that represents the collimator type (TCP, TCSG, TCLA, TCT, TCDQ)
TCSG_features["collimator_type"] = "TCSG"
# Add a column to the dataframe that represents the beam type type (ION or PROTON)
TCSG_features["beam_type"] = "ION"
# Add a column to the dataframe that represents the beam state (Injection (I) or Flat top (FT))
TCSG_features["beam_state"] = " "
TCSG_features

,jaw,height,position,decay_a,decay_b,decay_c,spike,collimator_type,beam_type,beam_state
0,1,308.070829,5.571840,291.596716,157.652273,40.538284,1,TCSG,ION,
1,1,195.127731,3.779332,124.854113,0.092919,6.356172,1,TCSG,ION,
2,1,138.097728,4.528229,123.350087,0.792521,8.622371,1,TCSG,ION,
3,0,16.995096,6.099973,17.467851,86.496977,1.718149,1,TCSG,ION,
4,1,46.782101,4.503501,44.206042,0.130885,7.902789,1,TCSG,ION,
...,...,...,...,...,...,...,...,...,...,...
232,0,819.498420,3.178781,659.363027,0.214712,15.714854,1,TCSG,ION,
233,1,819.498420,2.847658,659.363027,0.214712,15.714854,1,TCSG,ION,
234,0,59.042200,5.620832,62.331431,32.753239,11.154569,1,TCSG,ION,
235,0,41.192392,4.115469,41.044010,44.055029,7.282990,1,TCSG,ION,
236,0,199.846014,6.400425,199.519990,129.987849,106.732010,1,TCSG,ION,

In [38]:
# Load of all TCLA features
path = r'/Users/gianmarcoricci/Google Drive/UNI/Thesis CERN/Data/Auto_data/2018_IONS_Collisions/*_TCLA.*_Align_features'
all_rec = iglob(path, recursive=True)     
dataframes = (pd.read_csv(f) for f in all_rec)
TCLA_features = pd.concat(dataframes, ignore_index=True)
TCLA_features

    jaw      height   position     decay_a     decay_b    decay_c  spike
0     0   29.937608   7.478117   26.164866    0.987553   3.539591      1
1     1   29.937608   1.068302   26.164866    0.987553   3.539591      1
2     1   15.918155   1.588350   15.980170    0.239842   4.603170      1
3     1  115.482701   0.903948   67.761463    0.263279  49.817382      1
4     0    1.882570  11.700433    2.040047    1.471820   0.687209      0
..  ...         ...        ...         ...         ...        ...    ...
88    0  183.296250   4.103879  183.612970  101.082728   2.998030      1
89    0   24.476916   7.404929   14.997159    0.268895   9.443790      1
90    1   24.476916   7.981937   14.997159    0.268895   9.443790      1
91    1   14.252966   6.564214   14.088191   83.238829   1.839809      0
92    1    4.232041   3.346511    3.255737   83.428930   8.328263      0

[93 rows x 7 columns]

In [39]:
# Add a column to the dataframe that represents the collimator type (TCP, TCSG, TCLA, TCT, TCDQ)
TCLA_features["collimator_type"] = "TCLA"
# Add a column to the dataframe that represents the beam type type (ION or PROTON)
TCLA_features["beam_type"] = "ION"
# Add a column to the dataframe that represents the beam state (Injection (I) or Flat top (FT))
TCLA_features["beam_state"] = " "
TCLA_features

,jaw,height,position,decay_a,decay_b,decay_c,spike,collimator_type,beam_type,beam_state
0,0,29.937608,7.478117,26.164866,0.987553,3.539591,1,TCLA,ION,
1,1,29.937608,1.068302,26.164866,0.987553,3.539591,1,TCLA,ION,
2,1,15.918155,1.588350,15.980170,0.239842,4.603170,1,TCLA,ION,
3,1,115.482701,0.903948,67.761463,0.263279,49.817382,1,TCLA,ION,
4,0,1.882570,11.700433,2.040047,1.471820,0.687209,0,TCLA,ION,
...,...,...,...,...,...,...,...,...,...,...
88,0,183.296250,4.103879,183.612970,101.082728,2.998030,1,TCLA,ION,
89,0,24.476916,7.404929,14.997159,0.268895,9.443790,1,TCLA,ION,
90,1,24.476916,7.981937,14.997159,0.268895,9.443790,1,TCLA,ION,
91,1,14.252966,6.564214,14.088191,83.238829,1.839809,0,TCLA,ION,
92,1,4.232041,3.346511,3.255737,83.428930,8.328263,0,TCLA,ION,

In [41]:
# No TCT features

In [43]:
# No TCDQ features

In [44]:
# Merge all dataframe in one
frames = [TCP_features, TCSG_features, TCLA_features]
ION_dataframe = pd.concat(frames)
ION_dataframe

,jaw,height,position,decay_a,decay_b,decay_c,spike,collimator_type,beam_type,beam_state
0,0,4.962923,4.174044,5.194021,0.145898,1.682099,1,TCP,ION,
1,0,151.800678,5.638698,99.426278,0.170893,32.765390,1,TCP,ION,
2,0,46.816208,4.487884,41.370472,1.884378,6.719954,1,TCP,ION,
3,0,121.434939,6.291409,89.242713,0.410645,11.210625,1,TCP,ION,
4,1,121.434939,2.538321,89.242713,0.410645,11.210625,1,TCP,ION,
...,...,...,...,...,...,...,...,...,...,...
88,0,183.296250,4.103879,183.612970,101.082728,2.998030,1,TCLA,ION,
89,0,24.476916,7.404929,14.997159,0.268895,9.443790,1,TCLA,ION,
90,1,24.476916,7.981937,14.997159,0.268895,9.443790,1,TCLA,ION,
91,1,14.252966,6.564214,14.088191,83.238829,1.839809,0,TCLA,ION,
92,1,4.232041,3.346511,3.255737,83.428930,8.328263,0,TCLA,ION,

In [45]:
ION_dataframe.to_csv("ION_dataframe.csv")