In [1]:
import seaborn as sns
from glob import iglob
import pandas as pd
import numpy as np

In [3]:
df1 = pd.read_csv (r'/Users/gianmarcoricci/Documents/GitHub/Thesis_CERN/Week 2/Task 1 (Data preparation and plots)/Dataframes_csv/I_test_2018_dataframe.csv')
df2 = pd.read_csv (r'/Users/gianmarcoricci/Documents/GitHub/Thesis_CERN/Week 2/Task 1 (Data preparation and plots)/Dataframes_csv/II_test_2018_dataframe.csv')
df3 = pd.read_csv (r'/Users/gianmarcoricci/Documents/GitHub/Thesis_CERN/Week 2/Task 1 (Data preparation and plots)/Dataframes_csv/2017_MD_dataframe.csv')
df4 = pd.read_csv (r'/Users/gianmarcoricci/Documents/GitHub/Thesis_CERN/Week 2/Task 1 (Data preparation and plots)/Dataframes_csv/2018_MD3_dataframe.csv')
df5 = pd.read_csv (r'/Users/gianmarcoricci/Documents/GitHub/Thesis_CERN/Week 2/Task 1 (Data preparation and plots)/Dataframes_csv/2018_MD4_dataframe.csv')
df6 = pd.read_csv (r'/Users/gianmarcoricci/Documents/GitHub/Thesis_CERN/Week 2/Task 1 (Data preparation and plots)/Dataframes_csv/ION_dataframe.csv')

In [4]:
# Merge all dataframe in one
frames = [df1, df2, df3, df4, df5, df6]
df7 = pd.concat(frames)

In [5]:
del df7['Unnamed: 0']

In [6]:
df7['beam_state'] = "I"

In [7]:
df7

,jaw,height,position,decay_a,decay_b,decay_c,spike,collimator_type,beam_type,beam_state
0,0,5.910913,5.248969,6.235078,0.344805,0.865752,1,TCP,PROTON,I
1,1,2.013513,4.100928,2.026613,2.851484,0.868502,0,TCP,PROTON,I
2,0,31.565092,5.502972,27.247661,0.476436,3.484360,1,TCP,PROTON,I
3,1,31.565092,4.393772,27.247661,0.476436,3.484360,1,TCP,PROTON,I
4,1,7.030556,3.333658,6.997113,0.052134,2.340324,1,TCP,PROTON,I
...,...,...,...,...,...,...,...,...,...,...
556,0,183.296250,4.103879,183.612970,101.082728,2.998030,1,TCLA,ION,I
557,0,24.476916,7.404929,14.997159,0.268895,9.443790,1,TCLA,ION,I
558,1,24.476916,7.981937,14.997159,0.268895,9.443790,1,TCLA,ION,I
559,1,14.252966,6.564214,14.088191,83.238829,1.839809,0,TCLA,ION,I
560,1,4.232041,3.346511,3.255737,83.428930,8.328263,0,TCLA,ION,I

In [9]:
df8 = pd.read_csv (r'/Users/gianmarcoricci/Documents/GitHub/Thesis_CERN/Week 2/Task 1 (Data preparation and plots)/Dataframes_csv/III_inj_2018_dataframe.csv')
df9 = pd.read_csv (r'/Users/gianmarcoricci/Documents/GitHub/Thesis_CERN/Week 2/Task 1 (Data preparation and plots)/Dataframes_csv/IV_flat_2018_dataframe.csv')

In [10]:
df8['beam_state'] = "I"

In [11]:
df8

,Unnamed: 0,jaw,height,position,decay_a,decay_b,decay_c,spike,collimator_type,beam_type,beam_state
0,0,1,626.785099,2.107713,398.885178,0.167905,49.267499,1,TCP,PROTON,I
1,1,1,142.879889,2.940337,122.901835,0.256661,6.824657,1,TCP,PROTON,I
2,2,1,6.111287,4.061168,6.272429,0.453158,1.358716,1,TCP,PROTON,I
3,3,1,757.916041,1.765562,362.840808,0.059313,28.299163,1,TCP,PROTON,I
4,4,0,10.059313,5.437037,10.914495,0.483872,0.691229,1,TCP,PROTON,I
...,...,...,...,...,...,...,...,...,...,...,...
893,15,1,22.238597,10.285116,18.416754,0.587317,5.294663,1,TCLIA,PROTON,I
894,16,1,8.526529,2.660573,9.232192,1.466055,2.138044,1,TCLIA,PROTON,I
895,17,0,1.226295,5.806726,1.219200,21.207970,0.409800,0,TCLIA,PROTON,I
896,18,1,1.226295,5.806726,1.219200,21.207970,0.409800,0,TCLIA,PROTON,I
897,19,1,13.208095,0.575540,12.845161,242.668637,6.340839,0,TCLIA,PROTON,I

In [12]:
df9

,Unnamed: 0,jaw,height,position,decay_a,decay_b,decay_c,spike,collimator_type,beam_type,beam_state
0,0,0,111.222912,4.750285,98.563813,0.038457,16.989260,1,TCP,PROTON,FT
1,1,0,180.681440,6.001315,389.690733,0.002653,-227.826467,1,TCP,PROTON,FT
2,2,0,56.845961,9.228608,44.390824,0.113370,4.415844,1,TCP,PROTON,FT
3,3,1,56.845961,5.058510,44.390824,0.113370,4.415844,1,TCP,PROTON,FT
4,4,1,100.295047,0.050290,85.395499,0.072391,15.637387,1,TCP,PROTON,FT
...,...,...,...,...,...,...,...,...,...,...,...
984,229,1,26.972851,13.343164,25.949200,0.305902,3.644874,1,TCT,PROTON,
985,230,0,15.465093,15.137477,15.791677,0.628352,1.243694,1,TCT,PROTON,
986,231,1,15.465093,15.137477,15.791677,0.628352,1.243694,1,TCT,PROTON,
987,232,0,141.277962,11.376518,136.430710,43.774418,6.016290,1,TCT,PROTON,
988,233,1,141.277962,11.376518,136.430710,43.774418,6.016290,1,TCT,PROTON,

In [13]:
df9['beam_state'] = "FT"

In [14]:
df9

,Unnamed: 0,jaw,height,position,decay_a,decay_b,decay_c,spike,collimator_type,beam_type,beam_state
0,0,0,111.222912,4.750285,98.563813,0.038457,16.989260,1,TCP,PROTON,FT
1,1,0,180.681440,6.001315,389.690733,0.002653,-227.826467,1,TCP,PROTON,FT
2,2,0,56.845961,9.228608,44.390824,0.113370,4.415844,1,TCP,PROTON,FT
3,3,1,56.845961,5.058510,44.390824,0.113370,4.415844,1,TCP,PROTON,FT
4,4,1,100.295047,0.050290,85.395499,0.072391,15.637387,1,TCP,PROTON,FT
...,...,...,...,...,...,...,...,...,...,...,...
984,229,1,26.972851,13.343164,25.949200,0.305902,3.644874,1,TCT,PROTON,FT
985,230,0,15.465093,15.137477,15.791677,0.628352,1.243694,1,TCT,PROTON,FT
986,231,1,15.465093,15.137477,15.791677,0.628352,1.243694,1,TCT,PROTON,FT
987,232,0,141.277962,11.376518,136.430710,43.774418,6.016290,1,TCT,PROTON,FT
988,233,1,141.277962,11.376518,136.430710,43.774418,6.016290,1,TCT,PROTON,FT

In [15]:
# Merge all dataframe in one
frames = [df7,df8,df9]
df10 = pd.concat(frames)

In [16]:
df10

,jaw,height,position,decay_a,decay_b,decay_c,spike,collimator_type,beam_type,beam_state,Unnamed: 0
0,0,5.910913,5.248969,6.235078,0.344805,0.865752,1,TCP,PROTON,I,NaN
1,1,2.013513,4.100928,2.026613,2.851484,0.868502,0,TCP,PROTON,I,NaN
2,0,31.565092,5.502972,27.247661,0.476436,3.484360,1,TCP,PROTON,I,NaN
3,1,31.565092,4.393772,27.247661,0.476436,3.484360,1,TCP,PROTON,I,NaN
4,1,7.030556,3.333658,6.997113,0.052134,2.340324,1,TCP,PROTON,I,NaN
...,...,...,...,...,...,...,...,...,...,...,...
984,1,26.972851,13.343164,25.949200,0.305902,3.644874,1,TCT,PROTON,FT,229.0
985,0,15.465093,15.137477,15.791677,0.628352,1.243694,1,TCT,PROTON,FT,230.0
986,1,15.465093,15.137477,15.791677,0.628352,1.243694,1,TCT,PROTON,FT,231.0
987,0,141.277962,11.376518,136.430710,43.774418,6.016290,1,TCT,PROTON,FT,232.0
988,1,141.277962,11.376518,136.430710,43.774418,6.016290,1,TCT,PROTON,FT,233.0

In [17]:
del df10['Unnamed: 0']

In [18]:
df10

,jaw,height,position,decay_a,decay_b,decay_c,spike,collimator_type,beam_type,beam_state
0,0,5.910913,5.248969,6.235078,0.344805,0.865752,1,TCP,PROTON,I
1,1,2.013513,4.100928,2.026613,2.851484,0.868502,0,TCP,PROTON,I
2,0,31.565092,5.502972,27.247661,0.476436,3.484360,1,TCP,PROTON,I
3,1,31.565092,4.393772,27.247661,0.476436,3.484360,1,TCP,PROTON,I
4,1,7.030556,3.333658,6.997113,0.052134,2.340324,1,TCP,PROTON,I
...,...,...,...,...,...,...,...,...,...,...
984,1,26.972851,13.343164,25.949200,0.305902,3.644874,1,TCT,PROTON,FT
985,0,15.465093,15.137477,15.791677,0.628352,1.243694,1,TCT,PROTON,FT
986,1,15.465093,15.137477,15.791677,0.628352,1.243694,1,TCT,PROTON,FT
987,0,141.277962,11.376518,136.430710,43.774418,6.016290,1,TCT,PROTON,FT
988,1,141.277962,11.376518,136.430710,43.774418,6.016290,1,TCT,PROTON,FT

In [19]:
df10.to_csv('Auto_dataset4.csv')