In [16]:
import seaborn as sns
from glob import iglob
import pandas as pd
import numpy as np

In [17]:
# Load of all TCP features
path = r'/Users/gianmarcoricci/Google Drive/UNI/Thesis CERN/Data/Auto_data/4-flat_2018/*_TCP.*_Align_features'
all_rec = iglob(path, recursive=True)     
dataframes = (pd.read_csv(f) for f in all_rec)
TCP_features = pd.concat(dataframes, ignore_index=True)
TCP_features

     jaw      height  position     decay_a   decay_b     decay_c  spike
0      0  111.222912  4.750285   98.563813  0.038457   16.989260      1
1      0  180.681440  6.001315  389.690733  0.002653 -227.826467      1
2      0   56.845961  9.228608   44.390824  0.113370    4.415844      1
3      1   56.845961  5.058510   44.390824  0.113370    4.415844      1
4      1  100.295047  0.050290   85.395499  0.072391   15.637387      1
..   ...         ...       ...         ...       ...         ...    ...
340    0    9.014536  6.789108    8.833399  0.478891    0.455514      1
341    1    9.014536  5.959328    8.833399  0.478891    0.455514      1
342    1    4.796255  3.344264    4.080607  0.064048    1.224484      1
343    1   24.612718  5.294211   18.770837  0.076776    2.360608      1
344    1  846.636550  1.232899  395.093284  0.020647   79.308207      1

[345 rows x 7 columns]

In [18]:
# Add a column to the dataframe that represents the collimator type (TCP, TCSG, TCLA, TCT, TCDQ)
TCP_features["collimator_type"] = "TCP"
# Add a column to the dataframe that represents the beam type type (ION or PROTON)
TCP_features["beam_type"] = "PROTON"
# Add a column to the dataframe that represents the beam state (Injection (I) or Flat top (FT))
TCP_features["beam_state"] = "FT"

In [19]:
# Load of all TCSG features
path = r'/Users/gianmarcoricci/Google Drive/UNI/Thesis CERN/Data/Auto_data/4-flat_2018/*_TCSG.*_Align_features'
all_rec = iglob(path, recursive=True)     
dataframes = (pd.read_csv(f) for f in all_rec)
TCSG_features = pd.concat(dataframes, ignore_index=True)
TCSG_features
# Add a column to the dataframe that represents the collimator type (TCP, TCSG, TCLA, TCT, TCDQ)
TCSG_features["collimator_type"] = "TCSG"
# Add a column to the dataframe that represents the beam type type (ION or PROTON)
TCSG_features["beam_type"] = "PROTON"
# Add a column to the dataframe that represents the beam state (Injection (I) or Flat top (FT))
TCSG_features["beam_state"] = "FT"
TCSG_features

,jaw,height,position,decay_a,decay_b,decay_c,spike,collimator_type,beam_type,beam_state
0,0,20.218153,2.253271,19.916232,0.033964,3.242547,1,TCSG,PROTON,FT
1,1,4.582766,4.844619,3.738763,0.896415,5.691666,1,TCSG,PROTON,FT
2,0,158.362071,2.615797,150.835917,0.083419,15.244949,1,TCSG,PROTON,FT
3,0,7.255514,6.191412,8.119939,1.577124,1.947029,0,TCSG,PROTON,FT
4,1,6.739588,3.911940,4.919599,0.031231,6.024413,1,TCSG,PROTON,FT
...,...,...,...,...,...,...,...,...,...,...
207,0,5.387281,7.713498,6.127044,1.494826,4.355311,0,TCSG,PROTON,FT
208,1,11.470122,3.221044,11.661673,0.042966,2.005445,1,TCSG,PROTON,FT
209,1,10.654765,7.462771,9.221318,0.011722,1.144229,1,TCSG,PROTON,FT
210,1,4.570250,4.089369,3.642908,0.926561,6.549079,1,TCSG,PROTON,FT
211,1,273.928198,2.860116,253.719817,0.150804,10.440839,1,TCSG,PROTON,FT

In [20]:
# Load of all TCLA features
path = r'/Users/gianmarcoricci/Google Drive/UNI/Thesis CERN/Data/Auto_data/4-flat_2018/*_TCLA.*_Align_features'
all_rec = iglob(path, recursive=True)     
dataframes = (pd.read_csv(f) for f in all_rec)
TCLA_features = pd.concat(dataframes, ignore_index=True)
TCLA_features
# Add a column to the dataframe that represents the collimator type (TCP, TCSG, TCLA, TCT, TCDQ)
TCLA_features["collimator_type"] = "TCLA"
# Add a column to the dataframe that represents the beam type type (ION or PROTON)
TCLA_features["beam_type"] = "PROTON"
# Add a column to the dataframe that represents the beam state (Injection (I) or Flat top (FT))
TCLA_features["beam_state"] = "FT"
TCLA_features

,jaw,height,position,decay_a,decay_b,decay_c,spike,collimator_type,beam_type,beam_state
0,0,3.146206,5.494154,2.294858,0.747817,2.882425,0,TCLA,PROTON,FT
1,1,3.146206,4.966246,2.294858,0.747817,2.882425,0,TCLA,PROTON,FT
2,0,72.208944,4.879173,68.866658,0.395101,6.897470,1,TCLA,PROTON,FT
3,1,693.290333,3.888883,667.861091,447.300385,48.174909,1,TCLA,PROTON,FT
4,1,28.084194,7.804098,27.000605,2.638710,4.458936,1,TCLA,PROTON,FT
...,...,...,...,...,...,...,...,...,...,...
193,0,9.092233,2.424481,5.861805,0.090027,1.893293,1,TCLA,PROTON,FT
194,0,4.167276,3.264958,3.036708,2.020897,2.216962,0,TCLA,PROTON,FT
195,1,4.167276,4.952776,3.036708,2.020897,2.216962,1,TCLA,PROTON,FT
196,0,13.937000,5.852383,6.758687,0.071298,1.402870,1,TCLA,PROTON,FT
197,1,13.937000,6.505672,6.758687,0.071298,1.402870,1,TCLA,PROTON,FT

In [21]:
# Load of all TCT features

path = r'/Users/gianmarcoricci/Google Drive/UNI/Thesis CERN/Data/Auto_data/4-flat_2018/*_TCT*_Align_features'
all_rec = iglob(path, recursive=True)     
dataframes = (pd.read_csv(f) for f in all_rec)
TCT_features = pd.concat(dataframes, ignore_index=True)
TCT_features
# Add a column to the dataframe that represents the collimator type (TCP, TCSG, TCLA, TCT, TCDQ)
TCT_features["collimator_type"] = "TCT"
# Add a column to the dataframe that represents the beam type type (ION or PROTON)
TCT_features["beam_type"] = "PROTON"
# Add a column to the dataframe that represents the beam state (Injection (I) or Flat top (FT))
TCT_features["beam_state"] = " "
TCT_features

"""
# No TCDQ features
path = r'/Users/gianmarcoricci/Google Drive/UNI/Thesis CERN/Data/Auto_data/4-flat_2018/*_TCDQ.*_Align_features'
all_rec = iglob(path, recursive=True)     
dataframes = (pd.read_csv(f) for f in all_rec)
TCDQ_features = pd.concat(dataframes, ignore_index=True)
TCDQ_features
# Add a column to the dataframe that represents the collimator type (TCP, TCSG, TCLA, TCT, TCDQ)
TCDQ_features["collimator_type"] = "TCDQ"
# Add a column to the dataframe that represents the beam type type (ION or PROTON)
TCDQ_features["beam_type"] = "PROTON"
# Add a column to the dataframe that represents the beam state (Injection (I) or Flat top (FT))
TCDQ_features["beam_state"] = " "
TCDQ_features
"""

'\n# No TCDQ features\npath = r\'/Users/gianmarcoricci/Google Drive/UNI/Thesis CERN/Data/Auto_data/4-flat_2018/*_TCDQ.*_Align_features\'\nall_rec = iglob(path, recursive=True)     \ndataframes = (pd.read_csv(f) for f in all_rec)\nTCDQ_features = pd.concat(dataframes, ignore_index=True)\nTCDQ_features\n# Add a column to the dataframe that represents the collimator type (TCP, TCSG, TCLA, TCT, TCDQ)\nTCDQ_features["collimator_type"] = "TCDQ"\n# Add a column to the dataframe that represents the beam type type (ION or PROTON)\nTCDQ_features["beam_type"] = "PROTON"\n# Add a column to the dataframe that represents the beam state (Injection (I) or Flat top (FT))\nTCDQ_features["beam_state"] = " "\nTCDQ_features\n'

In [22]:
# Merge all dataframe in one
frames = [TCP_features, TCSG_features, TCLA_features, TCT_features]
IV_flat_2018_dataframe = pd.concat(frames)
IV_flat_2018_dataframe.to_csv("IV_flat_2018_dataframe.csv")