In [4]:
import seaborn as sns
from glob import iglob
import pandas as pd
import numpy as np

In [5]:
df1 = pd.read_csv (r'/Users/gianmarcoricci/Desktop/Auto_dataset copia.csv')

In [6]:
df1

,Unnamed: 0,Unnamed: 0.1,jaw,height,position,decay_a,decay_b,decay_c,spike,collimator_type,beam_type,beam_state
0,0,0,0,1.450181,6.302931,0.682591,0.039166,3.976648,0,TCP,PROTON,NaN
1,1,1,1,1.450181,5.904851,0.682591,0.039166,3.976648,0,TCP,PROTON,NaN
2,2,2,0,3.711414,5.241385,2.255260,0.112591,6.738248,0,TCP,PROTON,NaN
3,3,3,1,3.711414,4.843305,2.255260,0.112591,6.738248,0,TCP,PROTON,NaN
4,4,4,0,9.382588,4.299383,8.383850,0.613113,4.992165,1,TCP,PROTON,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
8788,984,229,1,26.972851,13.343164,25.949200,0.305902,3.644874,1,TCT,PROTON,
8789,985,230,0,15.465093,15.137477,15.791677,0.628352,1.243694,1,TCT,PROTON,
8790,986,231,1,15.465093,15.137477,15.791677,0.628352,1.243694,1,TCT,PROTON,
8791,987,232,0,141.277962,11.376518,136.430710,43.774418,6.016290,1,TCT,PROTON,
8792,988,233,1,141.277962,11.376518,136.430710,43.774418,6.016290,1,TCT,PROTON,

In [8]:
del df1['Unnamed: 0']

In [9]:
del df1['Unnamed: 0.1']

In [10]:
df1

,jaw,height,position,decay_a,decay_b,decay_c,spike,collimator_type,beam_type,beam_state
0,0,1.450181,6.302931,0.682591,0.039166,3.976648,0,TCP,PROTON,NaN
1,1,1.450181,5.904851,0.682591,0.039166,3.976648,0,TCP,PROTON,NaN
2,0,3.711414,5.241385,2.255260,0.112591,6.738248,0,TCP,PROTON,NaN
3,1,3.711414,4.843305,2.255260,0.112591,6.738248,0,TCP,PROTON,NaN
4,0,9.382588,4.299383,8.383850,0.613113,4.992165,1,TCP,PROTON,NaN
...,...,...,...,...,...,...,...,...,...,...
8788,1,26.972851,13.343164,25.949200,0.305902,3.644874,1,TCT,PROTON,
8789,0,15.465093,15.137477,15.791677,0.628352,1.243694,1,TCT,PROTON,
8790,1,15.465093,15.137477,15.791677,0.628352,1.243694,1,TCT,PROTON,
8791,0,141.277962,11.376518,136.430710,43.774418,6.016290,1,TCT,PROTON,
8792,1,141.277962,11.376518,136.430710,43.774418,6.016290,1,TCT,PROTON,

In [11]:
df1.to_csv('Auto_dataset3.csv')