In [18]:
import seaborn as sns
from glob import iglob
import pandas as pd
import numpy as np

In [19]:
# Load of all TCP features
path = r'/Users/gianmarcoricci/Google Drive/UNI/Thesis CERN/Data/Auto_data/3-inj_2018/*_TCP.*_Align_features'
all_rec = iglob(path, recursive=True)     
dataframes = (pd.read_csv(f) for f in all_rec)
TCP_features = pd.concat(dataframes, ignore_index=True)
TCP_features

     jaw      height  position     decay_a   decay_b    decay_c  spike
0      1  626.785099  2.107713  398.885178  0.167905  49.267499      1
1      1  142.879889  2.940337  122.901835  0.256661   6.824657      1
2      1    6.111287  4.061168    6.272429  0.453158   1.358716      1
3      1  757.916041  1.765562  362.840808  0.059313  28.299163      1
4      0   10.059313  5.437037   10.914495  0.483872   0.691229      1
..   ...         ...       ...         ...       ...        ...    ...
278    1  114.266183  2.863841  108.341424  0.555355   8.977104      1
279    0   91.045928  5.856769   84.771086  0.625343   2.016842      1
280    0   27.149048  4.663152   25.542525  0.799016   1.248067      1
281    1  604.807190  2.276781  577.094925  0.214112  34.853715      1
282    0   18.910134  4.338968   17.943237  0.340859   1.203129      1

[283 rows x 7 columns]

In [20]:
# Add a column to the dataframe that represents the collimator type (TCP, TCSG, TCLA, TCT, TCDQ)
TCP_features["collimator_type"] = "TCP"
# Add a column to the dataframe that represents the beam type type (ION or PROTON)
TCP_features["beam_type"] = "PROTON"
# Add a column to the dataframe that represents the beam state (Injection (I) or Flat top (FT))
TCP_features["beam_state"] = "I"

In [21]:
# Load of all TCSG features
path = r'/Users/gianmarcoricci/Google Drive/UNI/Thesis CERN/Data/Auto_data/3-inj_2018/*_TCSG.*_Align_features'
all_rec = iglob(path, recursive=True)     
dataframes = (pd.read_csv(f) for f in all_rec)
TCSG_features = pd.concat(dataframes, ignore_index=True)
TCSG_features
# Add a column to the dataframe that represents the collimator type (TCP, TCSG, TCLA, TCT, TCDQ)
TCSG_features["collimator_type"] = "TCSG"
# Add a column to the dataframe that represents the beam type type (ION or PROTON)
TCSG_features["beam_type"] = "PROTON"
# Add a column to the dataframe that represents the beam state (Injection (I) or Flat top (FT))
TCSG_features["beam_state"] = "I"
TCSG_features

,jaw,height,position,decay_a,decay_b,decay_c,spike,collimator_type,beam_type,beam_state
0,0,139.239843,2.644184,113.616778,0.408292,10.305653,1,TCSG,PROTON,I
1,0,5.752926,2.361386,5.561575,0.508038,3.981213,1,TCSG,PROTON,I
2,0,55.413247,2.601838,39.695452,0.196621,16.139553,1,TCSG,PROTON,I
3,0,19.413732,2.025450,16.438505,0.479794,3.538848,1,TCSG,PROTON,I
4,1,163.215406,3.714781,132.676576,0.365083,30.857964,1,TCSG,PROTON,I
...,...,...,...,...,...,...,...,...,...,...
266,0,10.023710,3.003669,9.251541,1.061974,3.417421,1,TCSG,PROTON,I
267,0,6.158267,5.272734,6.344720,0.133213,1.093836,1,TCSG,PROTON,I
268,1,6.158267,5.851639,6.344720,0.133213,1.093836,1,TCSG,PROTON,I
269,0,284.853541,2.315771,276.348449,0.454237,10.445057,1,TCSG,PROTON,I
270,0,366.926594,1.890243,357.123557,0.801957,48.750144,1,TCSG,PROTON,I

In [22]:
# Load of all TCLA features
path = r'/Users/gianmarcoricci/Google Drive/UNI/Thesis CERN/Data/Auto_data/3-inj_2018/*_TCLA.*_Align_features'
all_rec = iglob(path, recursive=True)     
dataframes = (pd.read_csv(f) for f in all_rec)
TCLA_features = pd.concat(dataframes, ignore_index=True)
TCLA_features
# Add a column to the dataframe that represents the collimator type (TCP, TCSG, TCLA, TCT, TCDQ)
TCLA_features["collimator_type"] = "TCLA"
# Add a column to the dataframe that represents the beam type type (ION or PROTON)
TCLA_features["beam_type"] = "PROTON"
# Add a column to the dataframe that represents the beam state (Injection (I) or Flat top (FT))
TCLA_features["beam_state"] = "I"
TCLA_features

,jaw,height,position,decay_a,decay_b,decay_c,spike,collimator_type,beam_type,beam_state
0,0,27.708877,4.973171,21.718457,0.177559,4.527069,1,TCLA,PROTON,I
1,1,50.475931,3.616889,47.831009,0.416926,12.607808,1,TCLA,PROTON,I
2,1,605.600404,2.714997,651.242061,0.474479,8.814345,1,TCLA,PROTON,I
3,1,431.750637,2.968223,423.329834,0.448766,23.629225,1,TCLA,PROTON,I
4,1,31.808465,2.339282,26.513740,5.085507,8.238029,1,TCLA,PROTON,I
...,...,...,...,...,...,...,...,...,...,...
157,0,3.106945,10.594943,3.117244,30.752941,0.371756,0,TCLA,PROTON,I
158,1,3.106945,12.805194,3.117244,30.752941,0.371756,0,TCLA,PROTON,I
159,1,5.859506,4.610218,5.116119,0.372597,1.846610,1,TCLA,PROTON,I
160,0,0.469650,5.312751,0.356939,0.050273,0.579599,0,TCLA,PROTON,I
161,1,0.469650,4.023399,0.356939,0.050273,0.579599,0,TCLA,PROTON,I

In [23]:
# Load of all TCT features

path = r'/Users/gianmarcoricci/Google Drive/UNI/Thesis CERN/Data/Auto_data/3-inj_2018/*_TCT*_Align_features'
all_rec = iglob(path, recursive=True)     
dataframes = (pd.read_csv(f) for f in all_rec)
TCT_features = pd.concat(dataframes, ignore_index=True)
TCT_features
# Add a column to the dataframe that represents the collimator type (TCP, TCSG, TCLA, TCT, TCDQ)
TCT_features["collimator_type"] = "TCT"
# Add a column to the dataframe that represents the beam type type (ION or PROTON)
TCT_features["beam_type"] = "PROTON"
# Add a column to the dataframe that represents the beam state (Injection (I) or Flat top (FT))
TCT_features["beam_state"] = " "
TCT_features

"""
# No TCDQ features
path = r'/Users/gianmarcoricci/Google Drive/UNI/Thesis CERN/Data/Auto_data/3-inj_2018/*_TCDQ.*_Align_features'
all_rec = iglob(path, recursive=True)     
dataframes = (pd.read_csv(f) for f in all_rec)
TCDQ_features = pd.concat(dataframes, ignore_index=True)
TCDQ_features
# Add a column to the dataframe that represents the collimator type (TCP, TCSG, TCLA, TCT, TCDQ)
TCDQ_features["collimator_type"] = "TCDQ"
# Add a column to the dataframe that represents the beam type type (ION or PROTON)
TCDQ_features["beam_type"] = "PROTON"
# Add a column to the dataframe that represents the beam state (Injection (I) or Flat top (FT))
TCDQ_features["beam_state"] = " "
TCDQ_features
"""

'\n# No TCDQ features\npath = r\'/Users/gianmarcoricci/Google Drive/UNI/Thesis CERN/Data/Auto_data/3-inj_2018/*_TCDQ.*_Align_features\'\nall_rec = iglob(path, recursive=True)     \ndataframes = (pd.read_csv(f) for f in all_rec)\nTCDQ_features = pd.concat(dataframes, ignore_index=True)\nTCDQ_features\n# Add a column to the dataframe that represents the collimator type (TCP, TCSG, TCLA, TCT, TCDQ)\nTCDQ_features["collimator_type"] = "TCDQ"\n# Add a column to the dataframe that represents the beam type type (ION or PROTON)\nTCDQ_features["beam_type"] = "PROTON"\n# Add a column to the dataframe that represents the beam state (Injection (I) or Flat top (FT))\nTCDQ_features["beam_state"] = " "\nTCDQ_features\n'

In [24]:
# Merge all dataframe in one
frames = [TCP_features, TCSG_features, TCLA_features, TCT_features]
III_inj_2018_dataframe = pd.concat(frames)
III_inj_2018_dataframe.to_csv("III_inj_2018_dataframe.csv")